pizza1-1-icon,
.wood-2045380-1920-1-icon {
  position: absolute;
  top: 111px;
  left: 0;
  width: 1751px;
  height: 1006px;
  object-fit: cover;
}
.pizza1-1-icon {
  width: 1757px;
}
.restaurant-website-child,
.restaurant-website-item {
  position: absolute;
  box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}
.restaurant-website-child {
  top: 100px;
  left: -23px;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(39, 39, 39, 0.05) 0.01%,
    rgba(31, 31, 31, 0.05) 0.02%,
    rgba(0, 0, 0, 0.06) 13.02%,
    rgba(0, 0, 0, 0.5)
  );
  width: 1786px;
  height: 1017px;
}
.restaurant-website-item {
  top: 533px;
  left: 116px;
  background-color: var(--color-tomato);
  width: 586px;
  height: 13px;
}
.craving-for-a,
.lorem-ipsum-dolor {
  position: absolute;
  letter-spacing: 0.09em;
  display: inline-block;
}
.lorem-ipsum-dolor {
  top: 613px;
  left: 116px;
  font-size: var(--font-size-6xl);
  line-height: 40px;
  width: 599px;
  height: 325px;
}
.craving-for-a {
  top: 240px;
  left: 17px;
  font-size: 101px;
  line-height: 108.5px;
  font-family: var(--font-quattrocento);
  text-align: center;
  width: 902px;
  height: 215px;
}
.image-2-icon,
.image-3-icon,
.restaurant-website-inner {
  position: absolute;
  top: 16.49px;
  left: 1432.12px;
  width: 111.92px;
  height: 87.35px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon {
  top: 24px;
  left: 1643px;
  width: 57px;
  height: 60px;
}
.image-2-icon {
  top: 29px;
  left: 1548px;
  width: 63px;
  height: 52px;
}
.lorem-ipsum-is {
  position: absolute;
  top: 1421px;
  left: 193px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 677px;
  height: 420px;
}
.dough-3082589-1920-1-icon {
  position: absolute;
  top: 1368px;
  left: 949px;
  border-radius: var(--br-3xs);
  width: 631px;
  height: 506px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 1404px;
  left: 193px;
  background-color: var(--color-tomato);
  box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
  width: 535px;
  height: 4px;
}
.about-us,
.restaurant-website-child1 {
  position: absolute;
  left: 599px;
  width: 526px;
}
.about-us {
  top: 1216px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-quattrocento);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
}
.restaurant-website-child1 {
  top: 1289px;
  background-color: var(--color-firebrick);
  height: 10px;
}
.explore-the-wide {
  position: absolute;
  top: 2153px;
  left: 212px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 1315px;
  height: 378px;
}
.carousel,
.gallary,
.menu {
  position: absolute;
  top: 2021px;
  left: 609px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-quattrocento);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 474px;
  height: 52px;
}
.carousel,
.gallary {
  top: 3264px;
  left: 617px;
}
.gallary {
  top: 4219px;
  left: 605px;
}
.restaurant-website-child2,
.restaurant-website-child3,
.restaurant-website-child4 {
  position: absolute;
  top: 2087px;
  left: 609px;
  background-color: var(--color-firebrick);
  width: 474px;
  height: 9px;
}
.restaurant-website-child3,
.restaurant-website-child4 {
  top: 3341px;
  left: 627px;
}
.restaurant-website-child4 {
  top: 4296px;
  left: 615px;
}
.lorem-ipsum {
  position: absolute;
  top: 2643px;
  left: 484px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor1 {
  position: absolute;
  top: 2694px;
  left: 483px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum1 {
  position: absolute;
  top: 2643px;
  left: 1194px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor2 {
  position: absolute;
  top: 2694px;
  left: 1193px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.bread-icon,
.bread2-icon {
  position: absolute;
  top: 2650px;
  left: 193px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 183.67px;
  object-fit: cover;
}
.bread-icon {
  left: 883px;
  height: 200px;
}
.lorem-ipsum-dolor3 {
  position: absolute;
  top: 2949px;
  left: 488px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum2 {
  position: absolute;
  top: 2898px;
  left: 1199px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor4 {
  position: absolute;
  top: 2949px;
  left: 1198px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.icon,
.shake1-icon {
  position: absolute;
  top: 2898px;
  left: 198px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 200px;
  object-fit: cover;
}
.shake1-icon {
  left: 887px;
}
.lorem-ipsum3 {
  position: absolute;
  top: 2389px;
  left: 486px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.pizza2-icon,
.pizza2-icon1,
.pizza2-icon2 {
  position: absolute;
  top: 2389px;
  left: 193px;
  border-radius: var(--br-3xs);
  width: 273.08px;
  height: 200px;
  object-fit: cover;
}
.pizza2-icon1,
.pizza2-icon2 {
  top: 4362px;
  left: 225px;
  width: 786px;
  height: 613px;
}
.pizza2-icon2 {
  top: 3407px;
  left: 198px;
  width: 1334px;
  height: 638px;
}
.lorem-ipsum-dolor5 {
  position: absolute;
  top: 2440px;
  left: 485px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum4 {
  position: absolute;
  top: 2389px;
  left: 1196px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor6 {
  position: absolute;
  top: 2440px;
  left: 1195px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.pizza5-icon,
.pizza5-icon1 {
  position: absolute;
  top: 2389px;
  left: 883px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 200px;
  object-fit: cover;
}
.pizza5-icon1 {
  top: 4362px;
  left: 1024px;
}
.chevron-left-1-icon,
.chevron-right-1-icon {
  position: absolute;
  top: 3657px;
  left: 1578px;
  width: 114px;
  height: 114px;
  overflow: hidden;
}
.chevron-left-1-icon {
  left: 58px;
}
.ellipse-div {
  position: absolute;
  top: 4102px;
  left: 802px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 18px;
  height: 18px;
}
.restaurant-website-child5,
.restaurant-website-child6,
.restaurant-website-child7,
.restaurant-website-child8 {
  position: absolute;
  top: 4102px;
  left: 829px;
  border-radius: 50%;
  background-color: var(--color-gray);
  width: 18px;
  height: 18px;
}
.restaurant-website-child6,
.restaurant-website-child7,
.restaurant-website-child8 {
  left: 856px;
}
.restaurant-website-child7,
.restaurant-website-child8 {
  left: 883px;
}
.restaurant-website-child8 {
  left: 910px;
}
.bread-icon1,
.bread2-icon1,
.icon1,
.shake1-icon1 {
  position: absolute;
  top: 4787px;
  left: 1024px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 183.67px;
  object-fit: cover;
}
.bread-icon1,
.icon1,
.shake1-icon1 {
  top: 4569px;
  height: 200px;
}
.bread-icon1,
.shake1-icon1 {
  top: 4362px;
  left: 1311px;
  height: 302px;
}
.shake1-icon1 {
  top: 4669px;
}
.restaurant-website-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1728px;
  height: 111px;
}
.about-us1,
.blogs,
.find-us,
.menu1,
.our-team,
.testimony {
  position: absolute;
  top: 41px;
  left: 587px;
  font-size: var(--font-size-5xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 28px;
}
.about-us1,
.blogs,
.find-us,
.our-team,
.testimony {
  top: 43px;
  left: 701px;
  height: 27px;
}
.about-us1,
.find-us,
.our-team,
.testimony {
  top: 41px;
  left: 831px;
  height: 28px;
}
.about-us1,
.find-us,
.our-team {
  left: 975px;
}
.about-us1,
.our-team {
  left: 1116px;
}
.about-us1 {
  left: 452px;
}
.pizza-restaurant1 {
  margin: 0;
}
.pizza-restaurant-txt-container {
  line-break: anywhere;
  width: 100%;
}
.pizza-restaurant {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 29px;
  letter-spacing: 0.06em;
  display: flex;
  text-align: center;
  align-items: center;
  width: 333px;
  height: 51px;
  -webkit-text-stroke: 1px #000;
}
.image-4-icon,
.image-5-icon,
.rectangle-icon {
  position: absolute;
  top: 24.98px;
  left: 1449px;
  width: 98.44px;
  height: 79.21px;
  object-fit: cover;
}
.image-4-icon,
.image-5-icon {
  top: 33px;
  left: 1625.02px;
  width: 47px;
  height: 51px;
}
.image-5-icon {
  top: 37px;
  left: 1547.02px;
  width: 52px;
  height: 44px;
}
.restaurant-website {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 6080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-ruda);
}
